.env
frontend/.next/
frontend/node_modules/
backend/vendor/
backend/storage/app/private/
backend/storage/app/public/
backend/storage/logs/*.log
backend/bootstrap/cache/*.php
backend/database/database.sqlite
!.gitkeep
*.local
